# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Files
**/*.out
create-branch.sh
create-pr-for-jira-ticket.sh
grep_test.sh
pr-prep-work.sh
pre-pr-file-changing.sh
slack-test.sh


